
/*-------------Colors---------------------*/

.container-fluid{
     background-color:  #cbcbc9;
}

.nav{
    border-color:#60342e;
    background-color: #cbcbc9;
}

.navbar-nav li a:hover{
    color: #b7a786;
}

section {
    background-color:  #cbcbc9;
}
footer p{
    color: #b7a786;
}

footer ul{
    border-style: solid;
    border-color: orange;
}

footer ul li a{
    color: #cbcbc9;
}

footer ul li a:hover{
    color: #b7a786;
}

footer ul li a i:hover{
    color: #b7a786;
}

/*------------Tests---------------*/
html, body{
            height: 100%;
            margin: 0;
            padding: 0; 
            border: 0;
            min-width: 100%;
}

/*------------Container and rows---------------*/
.container-fluid{
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-style: solid;
  margin: 0;
  padding: 0; 
  position: relative;
  min-height: 100%;
  width: 100%;
}


.row{
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

/*-------------Logo------------------------
Logo image created from Free logo maker looka.com */

.logo{
    background: url("../images/Logo.jpg") center no-repeat; 
    background-size: cover;
    margin: 0px;
    padding: 40px;
    width: 100%;
    display: block;
    border-style: solid;
    border-color: #25282b;
}

.logosmall{
    background: url("../images/Logo.jpg") center no-repeat; 
    background-size: cover;
    margin-left:0;
    padding: 60% 100%;
    width: 100%;
    border-color: #25282b;
    border-style: solid;
    float: left;
    
}

/*-------------Navigation menu------------*/

nav{
    margin: 0;
    padding: 0;
    border-style: solid;
    z-index:2; 
}

.navbar-left{
    display: inline;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    width: 100%;
    font-size: 16px;
    text-align: justify;
    padding-left: 0;
    display: inline;
    float: left;
}

.navbar-nav li a{
    color: #25282b;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    border: 0;
    width: 100%;
}

.navbar .navbar-toggler {
    border: 0; 
}


/*-------------Header from home page---------------------
Background image from home-hero class. Credit: Stefany Andrade https://unsplash.com/photos/GbSCAAsU2Fo */
.home-hero{
 background: url("../images/header-home.jpg") center no-repeat; 
 background-size: cover;
 align-items: center;
 justify-content: center;
 position: relative;
 border-color: black;
 border-style: solid;
 padding: 0;
 color: #25282b;
 line-height: 1;
 width: 100%;
 
}

.hero-text {
    background-color: #1d282a;
    opacity: 0.8;
    color: #b39f77;
    width: 100%;
    margin: 20px 20px;
    padding: 20px;
    border: solid;
    border-color:#60342e;
}

@media (min-width: 300px) {
    .jumbotron {
        font-size: 3em;
        width:60%;
        height: 85%;
        padding-top:0;
        margin-top: 5px;;
    }
}

@media (min-width: 700px) {
    .jumbotron {
        font-size: 3em;
        height: 65%;
        padding-top:0;
        margin-top: 10px;;
    }
}

.hero-text h2{
    font-weight: 700;
    margin: 5px;
    
}
.hero-text p{
    font-weight: 400;
    margin-top: 20px;
    font-size: 18px;

}

@media (max-width: 300px) {
    .hero-text p{
        font-size: 15px;
        padding: 0;
        line-height: 20px;
        margin:0;
        
    }
}

/*-------------Header from school page---------------------
Background image from home-hero-school class. Credit: Valentino-funghi https://unsplash.com/photos/VRr9a2rOoBI  */

.home-hero-school{
 background: url("../images/school.jpg") center no-repeat; 
 background-size: cover;
 align-items: center;
 justify-content: center;
 position: relative;
 border-color: black;
 border-style: solid;
 padding: 0;
 color: #25282b;
 line-height: 1;
 width: 100%;
 
}
/*-------------Header from store page---------------------
Background image from home-hero-store class. Credit: Thomas Kelley https://unsplash.com/photos/2ZWCDBuw1B8 */

.home-hero-store{
 background: url("../images/store.jpg") center no-repeat; 
 background-size: cover;
 align-items: center;
 justify-content: center;
 position: relative;
 border-color: black;
 border-style: solid;
 padding: 0;
 color: #25282b;
 line-height: 1;
 width: 100%; 
  
}

/*-------------Central Section home and common------------*/

.col-10{
    padding-right: 0;
    padding-left: 0;
}
.col-sm-5{
    
    margin-right: 10px;
    margin-left: 0;
}
.section{
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.options h2{
      color: #1d282a;
      margin-bottom: 10px;
      margin-left: 0px;
      margin-top: 5px;
}

.feature{
     border: 1px solid;
     border-radius: 5px;
     -webkit-box-shadow: 4px 4px 21px -3px rgba(0,0,0,0.73); 
     box-shadow: 4px 4px 21px -3px rgba(0,0,0,0.73);
     margin-left: 20px;
     margin-bottom: 20px;  
}

.feature h3{
    margin-left: 0px;
    margin-bottom: 5px;
}

.feature h3 span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn:hover{
background-color: #1d282a; 
border-color:  #1d282a;
color: #b7a786;
}

.feature .btn{
    border-style: solid;
    border-color: #25282b;
    position: relative;
    margin-left: 5px;
    margin-bottom: 2px;
}

/*-------------Central Section school------------*/
.options-courses h2, h3{
      color: #25282b;
      margin: 10px 20px 10px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.feature-course{
    border: 1px solid;
    border-color: #25282b;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    -webkit-box-shadow: 4px 4px 21px -3px rgba(0,0,0,0.73); 
    box-shadow: 4px 4px 21px -3px rgba(0,0,0,0.73);
}

.feature-course h4{
    padding-top: 10px;

}

.feature-course .btn{
    border: 1px solid;
    border-color: #25282b;
}


/*-------------Central Section store----------------
Background image from Store page pianos category. Credit: Free for personal use only. https://www.stickpng.com/img/objects/music/piano/roland-gp607-digital-piano
Background image from Store page guitars category. Credit: Free for personal use only. https://www.stickpng.com/img/objects/music/guitar/guitar-electroacoustic 
Background image from Store page Strings category. Credit: Free for personal use only. https://www.stickpng.com/img/objects/music/violin/violin-classic
Background image from Store page Percussion category. Credit: Free for personal use only. https://www.stickpng.com/img/objects/music/drums/drums-green-pearl */
.feature-store{
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #f4f4f4;
    background-size: cover;
    z-index: 1;
    margin-left: 20px;

}
.feature-store h3{
    margin-left: 0px;
    margin-bottom: 5px;

}
.feature-store .btn{
    border-style: solid;
    border-color: #25282b;

}
.pianos{
    background: url("../images/piano.png") right no-repeat; 
    background-size: contain;
    background-color: rgba(244, 244, 244, 0.4);
    z-index: 1;
    
}

@media (min-width: 300px) {
    .pianos {
        background-size: 50% 50%;
        
    }
}

@media (min-width: 800px) {
    .pianos {
        background-size: contain;
        
    }
}

.guitars{
    background: url("../images/guitar.png") right no-repeat; 
    background-size: contain;
    background-color: rgba(244, 244, 244, 0.4);
    display: flex inline;
    z-index: 2;
}

@media (min-width: 300px) {
    .guitars {
        background-size: 50% 50%;
        
    }
@media (min-width: 800px) {
    .guitars {
        background-size: 60% 60%;
    }
}

@media (min-width: 1000px) {
    .guitars {
        background-size: contain;
        
    }
}

.strings{
    background: url("../images/violin.png") right no-repeat; 
    background-size: contain;
    background-color: rgba(244, 244, 244, 0.4);
    display: flex inline;
    z-index: 2;
}

@media (min-width: 300px) {
    .strings {
        background-size: 50% 50%;
        
    }
}

@media (min-width: 800px) {
    .strings {
        background-size: contain;
        
    }
}

.percussion{
    background: url("../images/drums.png") right no-repeat; 
    background-size: contain;
    background-color: rgba(244, 244, 244, 0.4);
    display: flex inline;
    z-index: 2;
}

@media (min-width: 300px) {
    .percussion {
        background-size: 50% 50%;
        
    }
}

@media (min-width: 800px) {
    .percussion {
        background-size: 60% 60%;
        
    }
}

@media (min-width: 1000px) {
    .percussion {
        background-size: contain;
        
    }
}

/*-------------Central section Contact page-------*/

.feature-contact{
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 0;
    color: #1d282a;
    background-color:rgba(240, 240, 240,0.5);
}

.form-row{
    margin-top: 2px;
    margin-left: 0;
}

.gender{
    border: 1px solid;
    border-radius: 5px;
    margin-top: 10px;
}

.form-check{
     
    border-radius: 5px;
    margin-top: 10px;
}

.form-classes{
    margin-top: 5px;
}


.btn-submit{
    border-style: solid;
    border-color: #25282b;
    margin-bottom: 10px;
}

/*---------central section About page-------*/
.feature-about{
    border: 1px solid;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 4px 4px 21px -3px rgba(0,0,0,0.73); 
    box-shadow: 4px 4px 21px -3px rgba(0,0,0,0.73);
     
}

.feature-about h3{
    margin-left: 0px;
    margin-bottom: 5px;
    border: 0;
    margin-top: 2px;
}


mark a{
    text-decoration: none;
    color: #1d282a;
}


/*-------------Footer------------*/


footer{
    border-style: solid;
    margin: 0;
    padding: 0;
    background-color: #1d282a;
    height: 100%;
    max-height: 175px;
    width: 100%;
    color: #cbcbc9;
    
}


footer p{
    text-align: center;
    max-height: fit-content;
    margin-top: 10px;
}


footer ul li{
    list-style: none;
}